@import url(common.css);
@import url(reset.css);
/* common */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{ 
  display:none;
}

.piggy-bank {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.piggy-bank::-webkit-scrollbar{ 
  display:none;
}

.wrap {
  padding-top: 56px;
  min-width: 375px;
}

header {
  margin: 0 21px 0 27px;
}

header .title {
  font-weight: var(--font-normal);
  letter-spacing: -.24px;
}

.up {
  margin-top: -250px;
  transition: all ease 1s 0s;
}

.down {
  margin-top: 0;
  transition: all ease 1s 0s;
}

/* 홈 헤더 */
.home {
  background-color: var(--body-color);
}

.home > header {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home > header > .title {
  height: 27px;
  line-height: 27px;
  font-size: var(--font-large);
}

header .icons img {
  cursor: pointer;
}

header .icons .icon-search {
  margin-left: 18px;
}

/* 계좌정보 */
.account-info {
  height: 155px;
  margin: 33px 48px 0 48px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  position: relative;
}

.account-number {
  height: 21px;
  line-height: 20.72px;
  color: var(--color-gray01);
  font-weight: var(--font-normal);
  font-size: var(--font-medium);
  text-align: center;
  position: absolute;
  top: 14px;
  right: 70.49px;
  left: 73px;
  letter-spacing: -0.24px;
}

.account-info .balance {
  height: 36px;
  text-align: center;
  position: absolute;
  top: 51px;
  right: 59.22px;
  left: 59.22px;
}

.account-info .balance .balance-text {
  font-weight: var(--font-normal);
  font-size: var(--font-xlarge);
  line-height: 35.52px;
  letter-spacing: 2px;
}

.account-info > .btn-transfer {
  width: 27px;
  height: 21px;
  padding: 0;
  outline: none;
  border: none;
  background-color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  position: absolute;
  top: 14px;
  right: 17px;
  line-height: 21px;
  letter-spacing: -0.24px;
  cursor: pointer;
}

.account-info .graph-state {
  height: 6px;
  background-color: var(--color-gray04);
  border-radius: 3px;
  top: 110px;
  right: 45px;
  left: 32px;
  position: absolute;
}

.account-info .state-bar {
  width: calc(100% - 112.83px);
  height: 6px;
  background-color: #FFDB4C;
  border-radius: 3px;
}

.account-info .state-pointer {
  width: 4px;
  height: 17px;
  background-color: var(--color-orange02);
  position: absolute;
  margin-top: -12px;
  right: 78.91px;
  border-radius: 2px;
}

.account-info .target-img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 98px;
  right: 14px;
} 

.account-info .btn-expenditure {
  width: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.account-info .target-notice {
  text-align: center;
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  color: var(--color-gray01);
  position: absolute;
  top: 128px;
  right: 59.22px;
  left: 61.49px;
}

/* 광고 */
.ad {
  height: 20px;
  line-height: 20px;
  margin: 24px 70px 21px 43px;
  font-size: var( --font-medium);
  font-weight: var(--font-normal);
  text-align: center;
}

.ad > a {
  color: var(--color-black01);
  margin-left: 6px;
}

/* 거래내역 */
.transaction {
  height: 637px;
  background-color: #F5F5F5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  padding: 0 37px 0 30px;
  position: relative;
}

.btn-area {
  height: 17px;
}

.transaction .up-button {
  position: absolute;
  top: 4.3px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.transaction .piggy-bank {
  min-width: 375px;
  width: 100%;
  height: 49px;
  margin-top: 11px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.transaction .piggy-bank::after {
  content: '';
  display: block;
  clear: both;
}

.transaction .piggy-bank .pig {
  width: 150px;
  height: 49px;
  border-radius: 6px;
  background-color: var(--color-gray05);
  margin-right: 13px;
  float: left;
}

.transaction .piggy-bank .pig .pig-goal {
  width: 97px;
  height: inherit;
  background-color: var(--color-orange02);
  font-size: var(--font-small);
  font-weight: var(--font-normal);
  color: var(--color-white);
  border-radius: 6px;
}

.transaction .piggy-bank .pig .pig-goal span {
  width: 60px;
  height: 18px;
  float: left;
  margin-left: 13px;
}

.transaction .piggy-bank .pig .pig-goal span:nth-child(1) {
  margin-top: 8px;
}

.transaction .piggy-bank .pig-create {
  width: 150px;
  height: 49px;
  display: flex;
}

.transaction .piggy-bank .btn-create {
  width: 100%;
  color: var(--color-orange02);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.transaction .piggy-bank .btn-create .icon-plus {
  float: left;
  margin-right: 10px;
}

/* 날짜 별 거래내역 */
.transaction-histories {
  position: relative;
  margin-top: 16px;
}

.transactions {
  margin-bottom: 38px;
}

.date {
  font-weight: var(--font-bold);
  font-size: var(--font-medium);
}

.cost {
  font-weight: var(--font-normal);
  font-size: var(--font-medium);
  color: var(--color-gray03);
  position: absolute;
  right: 0;
}

.in {
  color: var(--color-orange02);
}

.transaction-item {
  margin-top: 8px;
  height: 34px;
  border-bottom: 1px solid #DCDCDC;
  line-height: 27px;
  font-weight: var(--font-light);
  font-size: var(--font-large);
  color: var(--color-darkgray);
}

.transaction-item .item-cost {
  position: absolute;
  right: 0;
}

/* 네비게이션 */
nav {
  background-color: var(--nav-bg);
  position: fixed;
  width: 100%;
  height: 58px;
  bottom: 0;
}

nav .nav-items {
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
}

/* =====================매니지먼트부분===================== */
/* 헤더 ~ 기준 금액 설정 */
.management {
  margin-bottom: 89px;
}

.management > header {
  width: 93px;
  height: 36px;
  margin-top: 12px;
}

.management .title {
  line-height: 36px;
  font-size: var(--font-xlarge);
}

.base {
  margin: 33px 21px 0 27px;
}

.base .base-setting {
  height: 27px;
  width: 100%;
}

.base .sub-title {
  width: 99px;
  line-height: 26.64px;
  font-size: var(--font-large);
  font-weight: var(--font-normal);
  letter-spacing: -.24px;
  color: var(--color-darkgray);
  float: left;
  margin-bottom: 28px;
}

.base .current-base-amount {
  width: 131px;
  height: 36px;
  line-height: 36px;
  font-size: var(--font-xlarge);
  font-weight: var(--font-normal);
  letter-spacing: -.24px;
  color: var(--color-orange02);
  float: right;
  margin-top: -5px;
}

.base::after {
  content: '';
  display: block;
  clear: both;
}

.management .graph-state {
  width: 100%;
  height: 9.18px;
  background-color: var(--color-gray04);
  margin-top: 28px;
  border-radius: 3px;
  position: relative;
}

.management .state-bar {
  width: calc(100% - 112.83px);
  height: 9.18px;
  background-color: #FFDB4C;
  border-radius: 3px;
}

.management .state-pointer {
  width: 8px;
  height: 28px;
  background-color: var(--color-orange02);
  position: absolute;
  margin-top: -18.82px;
  right: 78.91px;
}

/* 일간 리포트 */
.daily-report {
  margin: 58px 21px 0 27px;
}

.daily-report .sub-title {
  width: 86px;
  height: 27px;
  line-height: 26.64px;
  font-size: var(--font-large);
  font-weight: var(--font-normal);
  letter-spacing: -.24px;
  color: var(--color-darkgray);
}

.daily-report .graph-daily {
  margin-top: 20px;
}

.btn-close {
  position: absolute;
  width: 38px;
  height: 21px;
  top: 56px;
  right: 21px;
  outline: none;
  border: 0;
  background-color: transparent;
  font-weight: var(--font-light);
  font-size: var(--font-medium);
  line-height: 21px;
  letter-spacing: -.24px;
  cursor: pointer;
}

/* 월간 지출 패턴 */
.monthly-pattern {
  margin: 46px 21px 0 27px;
}

.monthly-pattern .sub-title {
  width: 100px;
  height: 27px;
  line-height: 26.64px;
  font-size: var(--font-large);
  font-weight: var(--font-normal);
  letter-spacing: -.24px;
  color: var(--color-darkgray);
}

.monthly-pattern .graph-circle {
  position: relative;
}

.monthly-pattern .graph-circle #doughnut-chart {
  margin-top: 16px;
  height: 308px;
}

.monthly-pattern .monthly-cost {
  text-align: center;
  font-size: 24px;
}

.monthly-pattern .categories {
  height: 233.63px;
  margin-top: 14px;
  position: relative;
}

.monthly-pattern .category-item {
  height: 40px;
  margin-bottom: 6px;
}

.monthly-pattern .category-item::after {
  margin-bottom: 0;
}

.monthly-pattern .category-item .category-image {
  display: block;
  margin-top: 6px;
  float: left;
}

.monthly-pattern .category-item .category-name {
  width: 100px;
  height: 27px;
  font-weight: var(--font-demilight);
  font-size: var(--font-large);
  line-height: 27px;
  letter-spacing: -.24px;
  float: left;
  margin-left: 49px;
  margin-top: 4px;
}

.monthly-pattern .category-item .category-cost {
  width: 100px;
  height: 27px;
  font-weight: var(--font-demilight);
  font-size: var(--font-large);
  line-height: 27px;
  text-align: right;
  letter-spacing: -.24px;
  color: var(--color-gray01);
  float: right;
  margin-top: 4px;
}