@import url(common.css);
@import url(reset.css);


body {
  background-color: var(--body-color);
}

.wrap {
margin-top: 56px;
}

/* 헤더 */
header {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 21px 0 27px;
}

header .title {
  font-weight: var(--font-normal);
}

title .home {
  font-size: var(--font-large);
}

header .icons .icon-qr {
  cursor: pointer;
}

header .icons .icon-search {
  margin-left: 18px;
  cursor: pointer;
}

/* 계좌정보 */
.account-info {
  height: 155px;
  margin: 33px 48px 0 48px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  position: relative;
}

.account-number {
  height: 21px;
  line-height: 20.72px;
  color: var(--color-gray01);
  font-weight: var(--font-normal);
  font-size: var(--font-medium);
  text-align: center;
  position: absolute;
  top: 14px;
  right: 70.49px;
  left: 73px;
  letter-spacing: -0.24px;
}

.account-info > .btn-transfer {
  width: 27px;
  height: 21px;
  padding: 0;
  outline: none;
  border: none;
  background-color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  position: absolute;
  top: 14px;
  right: 17px;
  line-height: 21px;
  letter-spacing: -0.24px;
  cursor: pointer;
}

.account-info .balance {
  height: 36px;
  text-align: center;
  position: absolute;
  top: 51px;
  right: 59.22px;
  left: 59.22px;
}

.account-info .balance .balance-text {
  font-weight: var(--font-normal);
  font-size: var(--font-xlarge);
  line-height: 35.52px;
  letter-spacing: 2px;
}

.account-info .target {
  position: absolute;
  top: 103px;
  right: 45px;
  left: 32px;
}

.account-info .state-bar {
  width: 202px;
  height: 17px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.account-info .state-bar .bar-bg {
  position: absolute;
}

.account-info .state-bar .bar {
  position: absolute;
}

.account-info .state-bar .bar-pointer {
  position: absolute;
  top: -2px;
  left: 150px;
}

.account-info .target-img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 98px;
  right: 14px;
  text-align: center; 
  cursor: pointer;
} 

.account-info .target-img > img {
  width: 14px;
  vertical-align: middle;
}

.account-info .state-notice {
  text-align: center;
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  color: var(--color-gray01);
  position: absolute;
  top: 128px;
  right: 59.22px;
  left: 61.49px;
}

/* 광고 */
.ad {
  margin: 24px 70px 21px 43px;
  font-size: var( --font-medium);
  font-weight: var(--font-normal);
  text-align: center;
}

.ad > a {
  color: var(--color-black01);
  margin-left: 6px;
}

/* 거래내역 */
.transaction {
  height: 637px;
  background-color: #F5F5F5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  padding: 0 37px 0 30px;
  position: relative;
}

.transaction > img {
  position: absolute;
  top: 4.3px;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.transaction .piggy-bank {
  border: 1px solid blue;
  position: absolute;
  height: 49px;
  top: 23px;
  left: 30px;
  overflow: hidden;
}

.transaction .piggy-bank .pig {
  border: 1px solid pink;
  width: 43.2%; /* 162 / 375 */
  height: 47px;
  border-radius: 6px;
  background-color: var(--color-gray05);
  float: left;
  margin-right: 13px;
}

.transaction .piggy-bank .pig::after {
  margin-right: 0;
}

.transaction .piggy-bank .pig p {
  width: 59.876543%; /* 97 / 162 */
  height: inherit;
  font-size: var(--font-small);
  font-weight: var(--font-normal);
  color: var(--color-white);
}

.transaction .piggy-bank .pig .blue {
  background-color: var(--color-blue02);
}

.transaction .piggy-bank .pig .orange {
  background-color: var(--color-orange03);
}

.transaction .piggy-bank .pig .sand {
  background-color: var(--color-sand);
}

/* 날짜 별 거래내역 */
.transaction-histories {
  position: relative;
  top: 88px;
}

.transactions {
  margin-bottom: 38px;
}

.date {
  font-weight: var(--font-bold);
  font-size: var(--font-medium);
}

.cost {
  font-weight: var(--font-normal);
  font-size: var(--font-medium);
  color: var(--color-gray03);
  position: absolute;
  right: 0;
}

.in {
  color: var(--color-orange02);
}

.transaction-item {
  margin-top: 8px;
  height: 34px;
  border-bottom: 1px solid #DCDCDC;
  line-height: 27px;
  font-weight: var(--font-light);
  font-size: var(--font-large);
  color: var(--color-darkgray);
}

.transaction-item .item-cost {
  position: absolute;
  right: 0;
}

/* 네비게이션 */
.managenav {
  background-color: var(--nav-bg);
  position: absolute;
  height: 58px;
  left: 0;
  bottom: 0;
  top: 1191px;
  width: 100%;
}

.managenav .nav-items {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

/* =====================매니지먼트부분===================== */
/* 헤더 ~ 기준 금액 설정 */
header .manage {
  font-size: var(--font-xlarge);
  position: absolute;
  width: 93px;
  height: 36px;
  left: 30px;
  top: 77px;
  line-height: 36px;
  letter-spacing: -0.24px;
}

.base-setting {
  width: 100%;
}

.base-setting .sub-title {
  position: absolute;
  width: 99px;
  height: 27px;
  top: 146px;
  left: 29px;
  font-weight: var(--font-normal);
  font-size: var(--font-large);
  line-height: 27px;
  letter-spacing: -0.24px;
  color: var(--color-darkgray);
}

.base-setting .current-base-amount {
  position: absolute;
  width: 131px;
  height: 36px;
  top: 142px;
  right: 38px;
  font-weight: var(--font-normal);
  font-size: var(--font-xlarge);
  line-height: 36px;
  letter-spacing: -0.24px;
  color: var(--color-orange02);
}

.graph-state {
  position: absolute;
  height: 9.18px;
  top: 211.71px;
  right: 38px;
  left: 29px;
  background-color: #c4c4c4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.graph-state .state-bar {
  position: absolute;
  height: 9.18px;
  width: calc(100% - 112px);
  left: 0;
  background-color: #ffdb4c;
  border-radius: 3px;
}

.graph-state .state-pointer {
  position: absolute;
  width: 8px;
  height: 28px;
  right: 78.91px;
  background-color: #FF5F00;
  border-radius: 2px;
}

.btn-close {
  background-color: transparent;
  outline: 0;
  border: 0;
  position: absolute;
  height: 21px;
  right: 13px;
  top: 44px;
  line-height: 21px;
  letter-spacing: -0.24px;
  font-size: var(--font-medium);
  font-weight: var(--font-light);
  cursor: pointer;
}

/* 일간 리포트 */
.daily-report .sub-title {
  position: absolute;
  width: 86px;
  height: 27px;
  top: 288px;
  left: 29px;
  font-weight: var(--font-normal);
  font-size: var(--font-large);
  line-height: 27px;
  letter-spacing: -0.24px;
  color: var(--color-darkgray);
}

.daily-report .graph-daily {
  border: 1px solid green;
  position: absolute;
  height: 198px;
  top: 315px;
  right: 37px;
  left: 31px;
  margin-top: 17px;
}

/* 월간 지출 패턴 */
.monthly-pattern .sub-title {
  position: absolute;
  width: 100px;
  height: 27px;
  top: 559px;
  left: 29px;
  font-weight: var(--font-normal);
  font-size: var(--font-large);
  line-height: 27px;
  letter-spacing: -0.24px;
  color: var(--color-darkgray);
}

.monthly-pattern .graph-circle {
  border: 1px solid purple;
  position: absolute;
  height: 308px;
  top: 604px;
  right: 30px;
  left: 37px;
}

.monthly-pattern .categories {
  position: absolute;
  height: 233.63px;
  top: 926px;
  left: 35px;
  right: 32px;
  border: 1px solid red;
}

.monthly-pattern .category-item {
  border: 1px solid blue;
  width: 100%;
  height: 41.23px;
  position: absolute;
  margin-top: 10.77px;
}

.monthly-pattern .category-item:nth-child(1) {
  margin-top: 0;
}

.monthly-pattern .category-image {
  position: absolute;
  left: 35px;
  line-height: 32px;
  border: 1px solid yellowgreen;
}

.monthly-pattern .category-name {
  position: absolute;
  width: 50px;
  height: 27px;
  left: 84px;
  font-weight: 350;
  font-size: 18px;
  line-height: 27px;
  
  letter-spacing: -0.24px;
  
  color: #000000;
}

.monthly-pattern .category-cost {
position: absolute;
right: 0;
width: 70px;
height: 27px;
font-weight: 350;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.24px;

color: #858585;


}